<!-- Datatables -->
<link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<!-- datetimepicker -->
<link href="/vendors/jquery-dateTimePicker/jquery.datetimepicker.min.css" rel="stylesheet" />

<!-- page content -->
<div id="moduleList" class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>
					ParkingCharges
					<small>list</small>
				</h3>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="x_panel">
					<div class="x_title">
						<button
							type="button"
							class="btn btn-primary"
							@click="initAddModal($event)"
							data-toggle="modal"
							data-target="#addModal2"
						>
							会员缴费
						</button>
						<button
							type="button"
							class="btn btn-primary"
							@click="initAddModal($event)"
							data-toggle="modal"
							data-target="#addModal"
						>
							车辆进场
						</button>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box table-responsive">
									<table
										id="moduleTable"
										class="table table-striped table-bordered"
										style="width: 100%"
									>
										<thead>
											<tr>
												<th>编号</th>
												<th>车牌号</th>
												<th>类型</th>
												<th>起始时间</th>
												<th>结束时间</th>
												<th>总时间</th>
												<th>费用</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 碎片文件要放在 Vue 控制的 Div 里 -->
	<div th:replace="traffic/parkingChargeAdd"></div>
	<div th:replace="traffic/parkingChargeAdd2"></div>
	<div th:replace="traffic/parkingChargeEdit"></div>
</div>
<!-- /page content -->

<!-- Datatables -->
<script src="/vendors/datatables.net/js/jquery.dataTables.min.js" stype="text/javascript"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" stype="text/javascript"></script>
<!-- datetimepicker -->
<script src="/vendors/jquery-dateTimePicker/jquery.datetimepicker.full.min.js" stype="text/javascript"></script>
<!-- qrcode -->
<script src="/vendors/qrcode/qrcode.js" stype="text/javascript"></script>

<script stype="text/javascript">
	var parkingCharges = new Vue({
		el: "#moduleList",
		data: {
			defaultPageSize: 5,
			moduleTable: {},
			parkingCharge: {
				id: "",
				createDate: "",
				carLicense: "",
				chargeType: "0",
				parkingId: "0",
				start: "",
				end: "",
				sum: "0",
				fee: "0",
			},
			parkingChargeTypes: [],
			aliPay: {
				outTradeNo: "",
				totalAmount: "",
				subject: "",
				body: "",
				calculated: false,
			},
			qrcode: "",
			ws: "",
		},
		methods: {
			// 表格行数据结构
			RowData: function (id, carLicense, chargeType, parkingId, start, end, sum, fee, createDate) {
				var RowData = {};
				RowData.id = id;
				RowData.carLicense = carLicense;
				RowData.chargeType = chargeType == 0 ? "临时停车" : "会员缴费";
				RowData.parkingId = parkingId;
				RowData.start = start;
				RowData.end = end;
				RowData.sum = sum;
				RowData.fee = fee;
				RowData.createDate = createDate;
				RowData.operate = function () {
					var opreteString = "";
					if (chargeType == 1 || end != null) {
						opreteString =
							"<a href='javascript:void(0);' onclick='deleteModule(\"" +
							id +
							"\")' class='btn_editcolor'>删除</a>";
					} else {
						opreteString =
							"<a href='#' class='btn_editcolor' data-toggle='modal' data-target='#editModal' " +
							"onclick='initEditModal(\"" +
							id +
							"\")'>出场</a>&nbsp;&nbsp;" +
							"<a href='javascript:void(0);' onclick='deleteModule(\"" +
							id +
							"\")' class='btn_editcolor'>删除</a>";
					}
					return opreteString;
				};
				return RowData;
			},
			initTable: function (pageSize) {
				var self = this;
				self.moduleTable = $("#moduleTable").DataTable({
					paging: true, //分页
					serverSide: true, //开启后端分页
					pagingType: "full_numbers", //分页样式的类型simple/simple_numbers/full/full_numbers
					pageLength: pageSize, //定义初始的页长
					processing: true,
					destroy: true, //允许销毁替换，在表格重新查询时，可以自动销毁以前的data
					lengthChange: true, //控制是否能够调整每页的条数
					lengthMenu: [5, 10, 25, 50], // 控制页长
					searching: true,
					"data-show-refresh": true,
					ordering: true,
					autoWidth: false,
					ajax: function (data, callback, settings) {
						// 从data获取查询数据
						var columIndex = data.order[0].column;
						var direction = data.order[0].dir;
						var orderBy = data.columns[columIndex].name;
						pageSize = data.length == undefined ? pageSize : data.length;

						var searchBean = {};
						searchBean.currentPage = data.start / pageSize + 1;
						searchBean.pageSize = pageSize;
						searchBean.orderBy = orderBy;
						searchBean.direction = direction;
						searchBean.keyWord = data.search.value;

						$.ajax({
							url: "/api/parkingCharges",
							type: "post",
							contentType: "application/json",
							data: JSON.stringify(searchBean),
							success: function (rs) {
								// 定义表格数据结构
								var tableData = {
									draw: 0,
									recordsTotal: 0,
									recordsFiltered: 0,
									data: [],
								};
								if (!rs) {
									layer.alert("请求出错，请稍后重试" + rs.errmsg, { icon: 2 });
									callback(tableData);
									return;
								}
								if (rs.list == null) {
									$("#moduleTable tbody tr").remove();
									$("#loading").remove();
									callback(tableData);
									return;
								}
								$("#loading").remove();
								var rowsData = [];
								for (var i = 0; i < rs.list.length; i++) {
									//包装行数据
									var rowData = self.RowData(
										rs.list[i].id,
										rs.list[i].carLicense,
										rs.list[i].chargeType,
										rs.list[i].parkingId,
										rs.list[i].start,
										rs.list[i].end,
										rs.list[i].sum,
										rs.list[i].fee,
										rs.list[i].createDate
									);
									// 将行数据放到数组里
									rowsData.push(rowData);
								}
								tableData.data = rowsData;
								tableData.recordsTotal = rs.total;
								tableData.recordsFiltered = rs.total;
								callback(tableData);
							},
							error: function (data) {
								layer.alert(data.responseText, { icon: 0 });
							},
						});
					},
					columns: [
						//定义行数据字段
						{ data: "id", name: "id", sortable: true },
						{ data: "carLicense", name: "car_license", sortable: true },
						{ data: "chargeType", name: "charge_type", sortable: true },
						{ data: "start", name: "start", sortable: true },
						{ data: "end", name: "end", sortable: true },
						{ data: "sum", name: "sum", sortable: true },
						{ data: "fee", name: "fee", sortable: true },
						{ data: "operate", width: "80px", sortable: false },
					],
				});
			},
			initDateTimePicker: function () {
				var self = this;
				$("[name=dateTimePicker]").datetimepicker({
					format: "Y-m-d H:i:s",
					onChangeDateTime: function (dp, $input) {
						var modelProperty = $input.attr("modelProperty");
						self.$set(self.parkingCharge, modelProperty, $input.val());
						// 时间插件对于 @change 无效，在此绑定变更函数
						initPayInfo();
					},
				});
				$("[name=datePickerForStart]").datetimepicker({
					format: "Y-m-d 00:00:00",
					timepicker: false,
					onChangeDateTime: function (dp, $input) {
						var modelProperty = $input.attr("modelProperty");
						self.$set(self.parkingCharge, modelProperty, $input.val());
						initPayInfo();
					},
				});
				$("[name=datePickerForEnd]").datetimepicker({
					format: "Y-m-d 23:59:59",
					timepicker: false,
					onChangeDateTime: function (dp, $input) {
						var modelProperty = $input.attr("modelProperty");
						self.$set(self.parkingCharge, modelProperty, $input.val());
						initPayInfo();
					},
				});
			},
			initAddModal: function (event) {
				var targer = event.currentTarget.attributes.getNamedItem("data-target").value;
				this.parkingCharge = {
					id: "0",
					createDate: "",
					carLicense: "",
					chargeType: "0",
					parkingId: "0",
					start: "",
					end: "",
					sum: "0",
					fee: "0",
				};
				// 默认临时停车，此处为会员交费类型
				if (targer == "#addModal2") {
					this.parkingCharge.chargeType = "1";
				}
				this.aliPay = {
					outTradeNo: "",
					totalAmount: "",
					subject: "",
					body: "",
					calculated: false,
				};
				this.qrcode = "";
				this.ws = "";
				$("#qrcode2").hide();
			},
			insertModule: function () {
				console.log(this.parkingCharge);
				var self = this;
				$.ajax({
					url: "/api/parkingCharge",
					type: "post",
					contentType: "application/json",
					data: JSON.stringify(self.parkingCharge),
					success: function (rs) {
						if (rs.status == 200) {
							self.initTable(self.defaultPageSize);
							// 关闭模态框
							$("#addModal2").modal("hide");
						} else {
							layer.msg(rs.message, { icon: 0 });
						}
					},
					error: function (rs) {
						layer.msg(rs.responseText, { icon: 0 });
					},
				});
			},
			initEditModal: function (id) {
				this.aliPay = {
					outTradeNo: "",
					totalAmount: "",
					subject: "",
					body: "",
					calculated: false,
				};
				this.qrcode = "";
				this.ws = "";
				$("#payDiv").hide();
				$("#nonPayDiv").hide();
				$("#qrcode2").hide();
				var self = this;
				$.ajax({
					url: "/api/parkingCharge/" + id,
					type: "get",
					contentType: "application/json",
					success: function (rs) {
						self.parkingCharge = rs;
					},
					error: function (data) {
						layer.alert(data.responseText, { icon: 0 });
					},
				});
			},
			editModule: function () {
				var self = this;
				$.ajax({
					url: "/api/parkingCharge",
					type: "put",
					contentType: "application/json",
					data: JSON.stringify(self.parkingCharge),
					success: function (rs) {
						if (rs.status == 200) {
							self.initTable(self.defaultPageSize);
							// 关闭模态框
							$("#editModal").modal("hide");
						} else {
							layer.msg(rs.message, { icon: 0 });
						}
					},
					error: function (rs) {
						layer.msg(rs.responseText, { icon: 0 });
					},
				});
			},
			deleteModule: function (id) {
				var self = this;
				bootbox.confirm("Are you sure?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/parkingCharge/" + id,
							type: "delete",
							success: function (rs) {
								if (rs.status == 200) {
									self.initTable(self.defaultPageSize);
								} else {
									window.location.href = rs.data;
									// layer.msg(rs.message, {icon: 0});
								}
							},
							error: function (rs) {
								layer.msg(rs.responseText, { icon: 0 });
							},
						});
					}
				});
			},
			initParkingChargeTypes: function () {
				var self = this;
				$.ajax({
					url: "/api/dictionary/parkingChargeType",
					type: "get",
					success: function (rs) {
						self.parkingChargeTypes = rs;
					},
					error: function (rs) {
						layer.msg(rs.responseText, { icon: 0 });
					},
				});
			},
			initPayInfo: function () {
				var self = this;
				self.aliPay.calculated = false;
				if (
					self.parkingCharge.carLicense == "" ||
					self.parkingCharge.start == "" ||
					self.parkingCharge.end == ""
				) {
					return;
				}

				$.ajax({
					url: "/api/parkingCharge/fee",
					type: "post",
					contentType: "application/json",
					data: JSON.stringify(self.parkingCharge),
					success: function (rs) {
						if (rs.status == 200) {
							self.parkingCharge = rs.data;
							self.aliPay.subject = self.parkingCharge.carLicense + " 缴费";
							self.aliPay.outTradeNo = "PARKING_ORDER_" + new Date().getTime();
							self.aliPay.totalAmount = self.parkingCharge.fee;
							self.aliPay.body = "SFAC·停车缴费";
							self.aliPay.calculated = true;
							if (self.aliPay.totalAmount > 0) {
								$("#payDiv").show();
								$("#nonPayDiv").hide();
							} else {
								$("#payDiv").hide();
								$("#nonPayDiv").show();
							}
						} else {
							layer.msg(rs.message, { icon: 0 });
						}
					},
					error: function (rs) {
						layer.msg(rs.message, { icon: 0 });
					},
				});
			},
			tradePayQr: function () {
				var self = this;
				if (!self.aliPay.calculated) {
					layer.alert("请输入车牌号、起止时间。", { icon: 0 });
					return;
				}

				$.ajax({
					url: "/api/alipay/tradePayQr",
					type: "post",
					contentType: "application/json",
					data: JSON.stringify(self.aliPay),
					success: function (rs) {
						if (rs == "") {
							layer.alert("生成二维码失败！", { icon: 0 });
							return;
						}

						// 生成二维码
						if (self.qrcode == "") {
							var qrcodeDiv = self.parkingCharge.id > 0 ? "qrcode2" : "qrcode";
							self.qrcode = new QRCode(qrcodeDiv, {
								width: 150,
								height: 150,
							});
						}
						self.qrcode.clear();
						self.qrcode.makeCode(rs);
						$("#" + qrcodeDiv + "").show();

						// 创建 WebSocket
						if (typeof WebSocket == "undefined") {
							console.log("您的浏览器不支持 WebSocket.");
						} else {
							// 初始化 WebSocket 实例
							if (self.ws == "") {
								// ws = new WebSocket("wss://127.0.0.1/api/webSocket");
								self.ws = new WebSocket("ws://127.0.0.1/api/webSocket");
							}
							// 创建连接
							self.ws.onopen = function () {
								console.log("websocket 已打开");
							};
							// 关闭连接
							self.ws.onclose = function () {
								console.log("连接已关闭...");
							};
							// 发生错误
							self.ws.onerror = function () {
								console.log("websocket发生了错误");
							};
							// 接收服务端消息
							self.ws.onmessage = function (message) {
								console.log("收到服务端信息：" + message);

								var result = eval("(" + message.data + ")");
								if (result.status == 200) {
									if (self.parkingCharge.id > 0) {
										self.editModule();
									} else {
										self.insertModule();
									}
								} else {
									layer.msg(result.message, { icon: 0 });
								}
							};
						}
					},
					error: function (rs) {
						layer.msg(rs.responseText, { icon: 0 });
					},
				});
			},
		},
		created: function () {
			// 将 Vue 的方法赋值给 window 对象，以解决动态生成 Html 不能解析 @click 标签的问题
			window.initEditModal = this.initEditModal;
			window.deleteModule = this.deleteModule;
			window.initPayInfo = this.initPayInfo;
		},
		mounted: function () {
			this.initTable(this.defaultPageSize);
			this.initParkingChargeTypes();
			this.initDateTimePicker();
		},
	});
</script>
