<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="addLabel" style="font-size: 18px; font-weight: 500;">ParkingCharge Add</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group row">
						<label class="control-label col-md-4">Car License</label>
						<div class="col-md-8">
							<input v-model:value="parkingCharge.carLicense" class="form-control" 
								type="text" placeholder="Enter car license">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-4">Parking Charge Type</label>
						<div class="col-md-8">
							<select class="form-control" v-model:value="parkingCharge.chargeType">
								<option v-for="(type, index) in parkingChargeTypes"
									 :value="type.code">{{type.desc}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-4">Start Time</label>
						<div class="col-md-8 input-group">
							<input name="dateTime" modelProperty="start" class="form-control" type="text" 
								v-model="parkingCharge.start" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!-- data-dismiss="modal"关闭模态框 -->
				<a class="btn btn-secondary" href="#" data-dismiss="modal">
					<i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
				</a>
				<button id="addBtn" data-dismiss="modal" class="btn btn-primary" type="button" 
					@click="insertModule()">
					<i class="fa fa-fw fa-lg fa-check-circle"></i>Submit
				</button>
			</div>
		</div>
	</div>
</div>