<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">

	<!-- 配置常量 -->
	<properties>
		<property name="env">dev</property>
		<property name="project">java_spring_mvc</property>
		<property name="root">/log</property>
		<property name="fileSize">50MB</property>
		<property name="maxHistory">100</property>
		<property name="dateTime">yyyy-MM-dd HH:mm:ss</property>
		<property name="pattern">%d{${dateTime}} [%t] %-5level %logger{36} - %msg%n</property>
	</properties>

	<!-- 配置控制台输出和文件输出 -->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>

		<RollingFile name="running-log"
			fileName="${root}/${project}_${env}.log"
			filePattern="${root}/${project}_${env}_%d.%i.log"
			immediateFlush="true">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${fileSize}" />
			</Policies>
			<DefaultRolloverStrategy max="${maxHistory}" />
		</RollingFile>
	</Appenders>
	<Loggers>

		<!-- 指定第三方 jar 或自定义包的输出级别 -->
		<Logger name="org.springframework" level="debug" additivity="true"> 
			<AppenderRef ref="Console" />
			<AppenderRef ref="running-log" />
		</Logger>

		<!-- 指定根日志级别TRACE<DEBUG<INFO<WARN<ERROR -->
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="running-log" />
		</Root>
	</Loggers>
</Configuration>