<!-- page content -->
<div class="col-md-12">
	<div class="col-middle">
		<div class="text-center text-center">
			<h1 class="error-number">403</h1>
			<h2>Access denied</h2>
			<p> Full authentication is required to access this resource. 
				<a href="#">Report this?</a>
			</p>
			<div class="mid_center">
				<a href="javascript:history.back()" class="btn btn-secondary source">
					<i class="ace-icon fa fa-arrow-left"></i>
					Go Back
				</a>
				<a href="/common/dashboard" class="btn btn-secondary source">
					<i class="ace-icon fa fa-tachometer"></i>
					Dashboard
				</a>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->