<div class="tab-pane fade" id="amapArea" role="tabpanel" aria-labelledby="amapArea-tab">
	<div id="amapAreaContainer"></div>
	<div class="input-card" style="margin-right: 20px; margin-bottom: 50px">
		<h4>下属行政区查询</h4>
		<div class="input-item">
			<div class="input-item-prepend"><span class="input-item-text">省市区</span></div>
			<select class="province" style="width: 100px" onchange="search(this)">
				<option value="0">----请选择----</option>
			</select>
		</div>
		<div class="input-item">
			<div class="input-item-prepend"><span class="input-item-text">地级市</span></div>
			<select class="city" style="width: 100px" onchange="search(this)">
				<option value="0">----请选择----</option>
			</select>
		</div>
		<div class="input-item">
			<div class="input-item-prepend"><span class="input-item-text">区县</span></div>
			<select class="district" style="width: 100px" onchange="search(this)">
				<option value="0">----请选择----</option>
			</select>
		</div>
		<div class="input-item">
			<div class="input-item-prepend"><span class="input-item-text">街道</span></div>
			<select class="street" style="width: 100px" onchange="setCenter(this)">
				<option value="0">----请选择----</option>
			</select>
		</div>
	</div>
</div>
