<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>WebSocket Index Page</h3>
			</div>
		</div>

		<div class="clearfix"></div>

		<h3>WebSocket 测试</h3>
		<p>===========================================</p>
		<input type="button" id="webSocketBtn" value="开启 WebSocket" />
	</div>
</div>
<!-- /page content -->
<script type="text/javascript">
	$(function () {
		$("#webSocketBtn").bind("click", function () {
			openSocket();
		});
	});

	function openSocket() {
		// WebSocket
		if (typeof WebSocket == "undefined") {
			console.log("您的浏览器不支持 WebSocket.");
		} else {
			// 初始化 WebSocket 实例
			var ws = new WebSocket("ws://127.0.0.1/api/webSocket");
			// 创建连接
			ws.onopen = function () {
				console.log("webSocket 已打开");
				// ws.send("这是客户端发送到服务器的消息");
			};
			// 关闭连接
			ws.onclose = function () {
				console.log("连接已关闭...");
			};
			// 发生错误
			ws.onerror = function () {
				console.log("WebSocket 发生了错误");
			};
			// 接收服务端消息
			ws.onmessage = function (message) {
				console.log("收到服务端信息：" + message);
			};
		}
	}
</script>
